.news {
  margin: 0;
  padding: 0;
  list-style: none;

  &__elem {
    width: 50%;

    &:first-child {
      float: left;
      width: 45%;
    }

    &:not(:first-child) {
      float: right;
      .news-item__text {
        display: none;
      }
    }
  }
}

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}