mixin key-member(img)
  .key-member
    img.key-member__photo(src=img alt='Photo')
    .key-member__content
      a.key-member__name(href="#") Сергей Рябокобылко
      p.key-member__text Эксперт по ликвидации последствий чрезвычайных ситуаций, почетный профессор в области городской политики Центра по изучению