mixin news-item(date, title)
  article.news-item
    span.news-item__date= date
    a.news-item__title(href="#")= title
    p.news-item__text Кирилл Рогов,  политический обозреватель, сотрудник 
      | Института экономики переходного периода, в рамках
      | цикла публикаций по итогам Пермского 
      | экономического форума затронул тему наследия 
      | девяностых, актуального для формирования нового 
      | общественного запрос кономического форума затронул 
      | тему наследия 