doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    //- mixins
    include ../blocks/site/news-item/_news-item

    header
      .userbar
        .grid-container
          .userbar-right
            ul.userbar-login
              each i in ['Войти', 'Зарегистроваться']
                li.userbar-login__item: a.userbar-login__link(href="#")= i

            ul.userbar-lang
              li.userbar-lang__item: a.userbar-lang__link.userbar-lang__link_active(href="#") Ru
              li.userbar-lang__item: a.userbar-lang__link(href="#") En
      .flex-header
        a(href="#"): img.logo(src="./images/logo.png" alt="logo")

        .flex-header-side
          .header-contacts
            p.header-contacts__text
              | Телефон горячей линии
              span.header-contacts__span звонок по России бесплатный
            a.header-contacts__tel(href="tel:+88005557363") 8 800 555-73-63

          nav
            ul.menu
              each item in ['О форуме', 'Программа', 'Участники', 'Пресс-центр', 'Партнеры', 'О Перми', 'Контакты']
                li.menu__item
                  a.menu__link(href="#")= item
                  .wrapper
                    ul.submenu
                      each item in ['Новости', 'Пресс-релизы', 'Аккредитация СМИ']
                        li.submenu__item: a.submenu__link(href="#")= item
    
    include ../blocks/general/hero-slider/_hero-slider

    .grid-container
      .main-container
        h2.heading Новости
        .news
          +news-item('14 февраля 2012', 'Материал Кирилла Рогова продолжил серию публикаций, посвященных выработке нового общественного договора')
          +news-item('14 февраля 2012', 'В рамках дискуссии по итогам ПЭФ-2011 Булат Столяров утверждает, что общественный договор в России не будет работать, так как заключать его ')
          +news-item('14 февраля 2012', 'Губернатор Пермского края Олег Чиркунов о мечте как основе общественного договора')
          +news-item('14 февраля 2012', 'Евгений Ясин о перспективах модернизации без шоковой терапии в России')
        
        h2.heading Ключевые участники
        
      aside.sidebar-container
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dicta!

    include components/service/_js
