@medium-size: ~"screen and (max-width: 1019px)";
@small-size: ~"screen and (max-width: 767px)";

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr 30px);
  //grid-column-gap: 30px;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.flex-header {
  display: flex;
  align-items: flex-end;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 34px;

  &-side {
    width: calc(100% - 188px);
  }
}

.main-container {
  grid-column-start: 1;
  grid-column-end: 8;
  padding-top: 40px;

  &_low {
    padding-top: 0;
  }
}

.sidebar-container {
  grid-column-start: 9;
  grid-column-end: 13;
  padding-top: 40px;

  &_low {
    padding-top: 0;
  }
}

@media @medium-size {
  .grid-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .flex-header {
    align-items: center;
    padding: 34px 20px;
  }

  .sidebar-container,
  .main-container {

    &_low {
      margin-bottom: 50px;
    }
  }
}

@media @small-size {
  .flex-header {
    flex-direction: column;
    align-items: center;
    padding: 34px 20px;

    &-side {
      width: 100%;
    }
  }

  .main-container {
    grid-column-start: 1;
    grid-column-end: 13;
  
    &_low {
      margin-bottom: 0;
      padding-top: 0;
    }
  }
  
  .sidebar-container {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
