@charset "utf-8";

@imagesPath: '../images';
@iPath: '../i';
@fontsPath: '../fonts';

@import "../../node_modules/slick-carousel/slick/slick.less";

// Main settings
@import "settings/*.less";
@import "_grid";

// Components
@import "../blocks/**/*.less";
@import "_common";
