footer.footer
      .footer-container
        .footer-column
          h4.footer-column-title О форуме
          ul.footer-list
            each i in ['Концепция', 'Организаторы', 'О Перми']
              li.footer-list__item: a.footer-list__link(href="#")= i
        .footer-column
          h4.footer-column-title Программа
          ul.footer-list
            each i in ['18 апреля', '19 апреля', '20 апреля', '21 апреля']
              li.footer-list__item: a.footer-list__link(href="#")= i
        .footer-column
          h4.footer-column-title Участники
          ul.footer-list
            each i in ['Аккредитация участников', 'Условия участия', 'Докладчики', 'Список участников']
              li.footer-list__item: a.footer-list__link(href="#")= i
        .footer-column
          h4.footer-column-title Пресс-центр
          ul.footer-list
            each i in ['Новости', 'Пресс-релизы', 'Аккредитация СМИ']
              li.footer-list__item: a.footer-list__link(href="#")= i
        .footer-column
          h4.footer-column-title Партнеры
          ul.footer-list
            each i in ['Партнеры форума', 'Возможности сотрудничества']
              li.footer-list__item: a.footer-list__link(href="#")= i
        .footer-column
          h4.footer-column-title Контакты
          ul.footer-list
            each i in ['Контактная информация', 'Площадка форума', 'Команда проекта']
              li.footer-list__item: a.footer-list__link(href="#")= i
        
      .footer-bottom
        .footer-bottom__left
          span.footer-bottom__copy &copy; 2012 Правительство Пермского края
          ul.footer-soc
            li.footer-soc__item: a.footer-soc__link(href="#"): img.footer-soc__icon(src="./i/facebook.png" alt="facebook")
            li.footer-soc__item: a.footer-soc__link(href="#"): img.footer-soc__icon(src="./i/twitter.png" alt="twitter")
        .footer-bottom__right
          span.footer-bottom__maker Сделано в #[a.footer-bottom__link(href="#") Eastwood lab]  